URCP.ServicesRepository/Service References/NotificationGateway/NotificationGateway3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://eai_dev001.mci.gov.sa/NotificationGateway/1.1/NotificationGateway.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/NotificationsGateway" />
  <xs:element name="SendSMS">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/NotificationsGateway" minOccurs="0" name="SendSMSNotificationRequest" nillable="true" type="q1:SendSMSNotificationRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendSMSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/NotificationsGateway" minOccurs="0" name="SendSMSResult" nillable="true" type="q2:NotificationResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/NotificationsGateway" minOccurs="0" name="SendEmailRequest" nillable="true" type="q3:SendEmailRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/NotificationsGateway" minOccurs="0" name="SendEmailResult" nillable="true" type="q4:NotificationResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendRestSMS">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendRestSMSRequest" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendRestSMSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/NotificationsGateway" minOccurs="0" name="SendRestSMSResult" nillable="true" type="q5:NotificationResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendOTP">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/NotificationsGateway" minOccurs="0" name="sendOTPRequest" nillable="true" type="q6:SendOTPRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendOTPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/NotificationsGateway" minOccurs="0" name="SendOTPResult" nillable="true" type="q7:NotificationResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyOTP">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/NotificationsGateway" minOccurs="0" name="verifyOTPRequest" nillable="true" type="q8:VerifyOTPRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyOTPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/NotificationsGateway" minOccurs="0" name="VerifyOTPResult" nillable="true" type="q9:VerifyOTPResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>