URCP.ServicesRepository/Service References/AttachmentService/FileService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Thiqah.FileService.ServiceContract" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Thiqah.FileService.ServiceContract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfFileMetadata">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FileMetadata" nillable="true" type="tns:FileMetadata" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFileMetadata" nillable="true" type="tns:ArrayOfFileMetadata" />
  <xs:complexType name="FileMetadata">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FileMetadata" nillable="true" type="tns:FileMetadata" />
  <xs:complexType name="Error">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MessageArabic" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MessageEnglish" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ValidationErrors" nillable="true" type="tns:ArrayOfValidationError" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Error" nillable="true" type="tns:Error" />
  <xs:complexType name="ArrayOfValidationError">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ValidationError" nillable="true" type="tns:ValidationError" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfValidationError" nillable="true" type="tns:ArrayOfValidationError" />
  <xs:complexType name="ValidationError">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MessageArabic" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PropertyName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ValidationError" nillable="true" type="tns:ValidationError" />
</xs:schema>