URCP.ServicesRepository/Service References/eFileService/EFileService66.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EFile.WebUI.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EFile.WebUI.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AccessTokenModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClientToken" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserToken" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AccessTokenModel" nillable="true" type="tns:AccessTokenModel" />
  <xs:complexType name="ChangePasswordModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="ConfirmPassword" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NewPassword" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OldPassword" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ChangePasswordModel" nillable="true" type="tns:ChangePasswordModel" />
</xs:schema>