URCP.ServicesRepository/Service References/eFileService/EFileService65.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.10.52.106:9998/production-release3/WServices/EFileService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EFile.Core.DTO" />
  <xs:import schemaLocation="http://10.10.52.106:9998/production-release3/WServices/EFileService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/EFile.WebUI.Models" />
  <xs:import schemaLocation="http://10.10.52.106:9998/production-release3/WServices/EFileService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/EFile.WebUI.Helpers" />
  <xs:element name="GetPersonByUserIDandClientID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clientId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clientPassword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonByUserIDandClientIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/EFile.Core.DTO" minOccurs="0" name="GetPersonByUserIDandClientIDResult" nillable="true" type="q1:EFileServicePerson" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonByUserID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonByUserIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/EFile.Core.DTO" minOccurs="0" name="GetPersonByUserIDResult" nillable="true" type="q2:EFileServicePerson" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonByNID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clientId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clientPassword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonByNIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/EFile.Core.DTO" minOccurs="0" name="GetPersonByNIDResult" nillable="true" type="q3:EFileServicePerson" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonByFIN">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clientId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clientPassword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonByFINResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/EFile.Core.DTO" minOccurs="0" name="GetPersonByFINResult" nillable="true" type="q4:EFileServicePerson" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckPersonStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clientId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clientPassword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckPersonStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/EFile.Core.DTO" minOccurs="0" name="CheckPersonStatusResult" nillable="true" type="q5:EFileServicePerson" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPerson">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/EFile.Core.DTO" minOccurs="0" name="GetPersonResult" nillable="true" type="q6:EFileServicePerson" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContactOfficerInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userAccessToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clientId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clientPassword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContactOfficerInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/EFile.Core.DTO" minOccurs="0" name="GetContactOfficerInfoResult" nillable="true" type="q7:EFileServiceContactOfficer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonAddressByNID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clientId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clientPassword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonAddressByNIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/EFile.Core.DTO" minOccurs="0" name="GetPersonAddressByNIDResult" nillable="true" type="q8:EFileServiceAddress" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Authenticated">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clientPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="NID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticatedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/EFile.WebUI.Models" minOccurs="0" name="AuthenticatedResult" nillable="true" type="q9:AccessTokenModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsernameByAccessToken">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userAccessToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsernameByAccessTokenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetUsernameByAccessTokenResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckToken">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/EFile.WebUI.Models" minOccurs="0" name="accessToken" nillable="true" type="q10:AccessTokenModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckTokenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckTokenResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckUserToken">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userAccessToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clientId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clientPassword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckUserTokenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckUserTokenResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsAuthenticated">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userAccessToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clientId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsAuthenticatedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsAuthenticatedResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePersonInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/EFile.WebUI.Models" minOccurs="0" name="accessToken" nillable="true" type="q11:AccessTokenModel" />
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/EFile.Core.DTO" minOccurs="0" name="personProfile" nillable="true" type="q12:EFileServicePersonProfile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePersonInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdatePersonInfoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePersonAddress">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/EFile.WebUI.Models" minOccurs="0" name="accessToken" nillable="true" type="q13:AccessTokenModel" />
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/EFile.Core.DTO" minOccurs="0" name="personAddress" nillable="true" type="q14:EFileServicePersonAddress" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePersonAddressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdatePersonAddressResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDelegatedReferencesByServiceID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clientId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="childClientId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="serviceId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="crNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDelegatedReferencesByServiceIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/EFile.Core.DTO" minOccurs="0" name="GetDelegatedReferencesByServiceIDResult" nillable="true" type="q15:ArrayOfEFileServiceDelegated" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDelegatedReferences">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clientId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clientSecret" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="delegatorNID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="crNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDelegatedReferencesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/EFile.Core.DTO" minOccurs="0" name="GetDelegatedReferencesResult" nillable="true" type="q16:ArrayOfEFileServiceDelegated" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDelegationInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clientId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clientSecret" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDelegationInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/EFile.Core.DTO" minOccurs="0" name="GetAllDelegationInfoResult" nillable="true" type="q17:EFileServiceDelegation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDelegationInfoByCrNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clientId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clientSecret" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="crNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDelegationInfoByCrNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/EFile.Core.DTO" minOccurs="0" name="GetAllDelegationInfoByCrNumberResult" nillable="true" type="q18:EFileServiceDelegation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListOfAllDelegationsInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clientId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clientSecret" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListOfAllDelegationsInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/EFile.Core.DTO" minOccurs="0" name="GetListOfAllDelegationsInfoResult" nillable="true" type="q19:ArrayOfEFileServiceDelegationDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllBeneficiariesByCrNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="crNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clientId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clientSecret" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllBeneficiariesByCrNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/EFile.Core.DTO" minOccurs="0" name="GetAllBeneficiariesByCrNumberResult" nillable="true" type="q20:ArrayOfEFileServiceDelegationDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendSMS">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="otp" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendSMSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendSMSResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBlackListedServicesByServiceID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clientId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="serviceId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBlackListedServicesByServiceIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/EFile.Core.DTO" minOccurs="0" name="GetBlackListedServicesByServiceIDResult" nillable="true" type="q21:ArrayOfEFileServiceBlackListed" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRolesByClientID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRolesByClientIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/EFile.Core.DTO" minOccurs="0" name="GetRolesByClientIDResult" nillable="true" type="q22:ArrayOfEFileServiceRole" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserRoles">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clientId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="childClientId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="serviceId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="crNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserRolesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/EFile.Core.DTO" minOccurs="0" name="GetUserRolesResult" nillable="true" type="q23:ArrayOfEFileServiceRole" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCountries">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCountriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/EFile.Core.DTO" minOccurs="0" name="GetCountriesResult" nillable="true" type="q24:ArrayOfEFileServiceCountry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCities">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCitiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/EFile.Core.DTO" minOccurs="0" name="GetCitiesResult" nillable="true" type="q25:ArrayOfEFileServiceCity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDistricts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cityId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDistrictsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/EFile.Core.DTO" minOccurs="0" name="GetDistrictsResult" nillable="true" type="q26:ArrayOfEFileServiceDistrict" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Logout">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accessToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogoutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LogoutResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clientSecret" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="NID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PasswordRecovery">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clientId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clientPassword" nillable="true" type="xs:string" />
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/EFile.WebUI.Helpers" minOccurs="0" name="passwordRecoveryWay" type="q27:PasswordRecoveryWay" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PasswordRecoveryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PasswordRecoveryResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePersonPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/EFile.WebUI.Models" minOccurs="0" name="accessToken" nillable="true" type="q28:AccessTokenModel" />
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/EFile.WebUI.Models" minOccurs="0" name="changePassword" nillable="true" type="q29:ChangePasswordModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePersonPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ChangePersonPasswordResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePersonPasswordByAccessToken">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userAccessToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="oldPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newPassword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePersonPasswordByAccessTokenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ChangePersonPasswordByAccessTokenResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateByAbsherMobile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clientId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clientPassword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateByAbsherMobileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AuthenticateByAbsherMobileResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>