URCP.ServicesRepository/Service References/eFileService/EFileService6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EFile.WebUI.WServices" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EFile.WebUI.WServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="EFileServiceException">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescriptionAr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MessageAr" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EFileServiceException" nillable="true" type="tns:EFileServiceException" />
</xs:schema>